<div class="page-header">
  <%= link_to records_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t 'views.new_model', :model => t('activerecord.models.record') %></h1>
</div>

<%= render 'form' %>
